@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
  .theme {
    --animate-aurora: aurora 60s linear infinite;
  }
}

/* ------ Animation ------ */
@keyframes float {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-12px);}
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

/* ------ END Animation ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  @apply w-[5px] dark:w-[4px] dark:bg-black;
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-300 hover:bg-slate-400 rounded-full dark:bg-slate-800 dark:hover:bg-slate-700;
}

/* ------------------------- General ------------------------- */

/* TESTING */
.___red {
  @apply border border-red-500
}
.___green {
  @apply border border-green-500
}
/* END TESTING */

/* Swiper buttons */
.swiper-button-next, 
.swiper-button-prev {
  @apply hidden lg:block text-slate-300 hover:text-slate-500 transition-all duration-300
  dark:text-slate-500 dark:hover:text-slate-400
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  @apply text-3xl
}

.swiper-pagination-bullet {
  @apply bg-slate-300 dark:bg-slate-400
}

.swiper-pagination-bullet-active {
  @apply bg-slate-300 dark:bg-slate-500
}
/* END Swiper buttons */

/* Title */
.first-title {
  @apply relative text-[0.9rem] text-secondary mb-3 uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}

.first-title-stripe {
  @apply relative inline-block pl-[40px] text-[0.9rem] text-secondary uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}

.first-title-stripe::before,
.right-contact-title::before {
  @apply content-[""] absolute left-0 top-[50%] w-[30px] h-[1px] bg-[#d1d5db];
}

.second-title {
  @apply text-3xl font-light text-primaryIconColor mt-3 mb-4 lg:text-[2rem]
  dark:text-darkPrimaryIconColor;
}

/* button */
.btn {
  @apply font-medium text-white bg-primaryIconColor
   hover:bg-secondaryIconColor hover:text-slate-50 transition-all duration-500 ease-in-out
   dark:text-black dark:bg-slate-300 dark:hover:bg-slate-600;
}

/* SVG icons */
#skills svg,
#contact svg {
  @apply w-[22px] mx-auto fill-primaryIconColor dark:fill-darkPrimaryIconColor;
}

/* Cards */
.card-title {
  @apply block hover:text-primaryIconColor
  dark:text-darkPrimaryIconColor dark:hover:text-darkSecondary;
}

.card-sub-title {
  @apply pt-5 pb-3 
  dark:text-darkPrimary;
}

.card-button {
  @apply inline-block mt-5 mb-2 py-2 rounded-xl italic text-secondary underline underline-offset-[10px]
   hover:text-primary transition duration-300 ease-in-out
   dark:text-darkSecondary dark:hover:text-darkPrimary;
}

/* ------------------------- Specific ------------------------- */

/* ----- Dark Mode toggle ----- */
.dark-toggle-animate {
  @apply bg-slate-300;
}
.dark-toggle-animate > .circle-toggle {
  @apply translate-x-5 bg-primary;
}

/* ----- Nav-fixed ----- */
.nav-fixed {
  @apply fixed py-2 lg:py-1 bg-white/[0.7] backdrop-blur-[5px] shadow-sm shadow-slate-50
  dark:bg-bgDarkPrimary dark:shadow-slate-950;
}

/* ----- Hamburger ----- */
.hamburger-line {
  @apply block w-[25px] h-[1px] my-[6px] rounded-full bg-primary transition duration-500
  dark:bg-darkSecondary;
}
/* transisi dan origin (sumbu) ga bisa langsung di sini, transisi outnya jadi berantakan karna class .hamburger-activenya langsung hilang (penambahan classnya via toggle JS) */
.hamburger-active > span:nth-child(1) {
  @apply -rotate-45 mb-[9px];
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply rotate-45;
}

/* ----- Skills ----- */
.skill-container {
  @apply w-full p-4 max-w-[450px] xl:w-1/3;
}

.skill-card {
  @apply w-full py-14 px-10 text-center rounded-xl shadow-sm bg-bgPrimary dark:bg-bgDarkPrimary dark:shadow-black transition-all duration-500
  h-[320px];
}

/* ----- Project ----- */

.project-detail {
  @apply mt-6 mb-7 px-7 h-[275px] overflow-auto text-sm
  sm:h-[250px];
}

.project-detail::-webkit-scrollbar {
  @apply w-[4px];
}

.project-detail::-webkit-scrollbar-thumb {
  @apply bg-primaryIconColor/60 hover:bg-slate-400 mt-52 rounded-full
  dark:bg-slate-800 dark:hover:bg-slate-700;
}

.project-detail > p {
  @apply text-base text-secondary dark:text-darkSecondary;
}

.project-detail > ul > li {
  @apply list-disc list-outside marker:text-primaryIconColor dark:marker:text-darkSecondary text-secondary dark:text-darkSecondary ml-7 pl-2;
}

/* ----- Education ----- */
#education li {
  @apply mb-3 lowercase grayscale hover:grayscale-0 hover:text-black transition-all cursor-default dark:text-slate-700 dark:hover:text-darkPrimary;
}

#education li > img {
  @apply inline-block w-8 pr-3;
}

.dot-line {
  @apply before:content-[''] before:absolute before:-ml-[37px] before:mt-[5px] before:w-4 before:h-4 before:bg-[#f1f1f1] before:rounded-full dark:before:bg-darkPrimary transition-all duration-500;
}

/* ----- Contact ----- */
.contact-input {
  @apply w-full p-3 bg-white drop-shadow-mdCustom dark:drop-shadow-none text-secondary dark:text-darkSecondary rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-200  transition-all duration-500
  dark:border-black dark:bg-slate-800 dark:focus:ring-1 dark:focus:ring-slate-700;
}

/* ----- Footer ----- */
.footer-title {
  @apply relative inline-block pl-[40px] text-[0.9rem] text-secondary uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}
.footer-title:before {
  @apply sm:content-[""] absolute left-0 top-[15px] w-[30px] h-[1px] bg-[#d1d5db];
}

@layer base {
  .theme {
    --animate-spin: spin 2s linear infinite;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes aurora {
  from {
    backgroundPosition: 50% 50%, 50% 50%;
    }
  to {
    backgroundPosition: 350% 50%, 350% 50%;
    }
  }
}