@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  @apply w-[5px] dark:w-[4px] dark:bg-black;
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-300 hover:bg-slate-400 rounded-full dark:bg-slate-800 dark:hover:bg-slate-700;
}

/* ------------------------- General ------------------------- */

/* Swiper buttons */
.swiper-button-next, 
.swiper-button-prev {
  @apply hidden lg:block text-slate-300 hover:text-slate-500 transition-all duration-300
  dark:text-slate-500 dark:hover:text-slate-400
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  @apply text-3xl
}

.swiper-pagination-bullet {
  @apply bg-slate-300 dark:bg-slate-400
}

.swiper-pagination-bullet-active {
  @apply bg-slate-300 dark:bg-slate-500
}
/* END Swiper buttons */


/* Title */
.first-title {
  @apply relative text-[0.9rem] text-secondary mb-3 uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}

.first-title-stripe {
  @apply relative inline-block pl-[40px] text-[0.9rem] text-secondary uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}

.first-title-stripe::before,
.right-contact-title::before {
  @apply content-[""] absolute left-0 top-[50%] w-[30px] h-[1px] bg-[#d1d5db];
}

.second-title {
  @apply text-3xl font-light text-primaryIconColor mt-3 mb-4 lg:text-[2rem]
  dark:text-darkPrimaryIconColor;
}

/* button */
.btn {
  @apply font-medium text-white bg-primaryIconColor
   hover:bg-secondaryIconColor hover:text-slate-50 transition-all duration-500 ease-in-out
   dark:text-black dark:bg-slate-300 dark:hover:bg-slate-600;
}

/* SVG icons */
#skills svg,
#contact svg {
  @apply w-[22px] mx-auto fill-primaryIconColor dark:fill-darkPrimaryIconColor;
}

/* Cards */
.card-title {
  @apply mt-3 mb-5 block hover:text-primaryIconColor
  dark:text-darkPrimaryIconColor dark:hover:text-darkSecondary;
}

.card-sub-title {
  @apply pt-5 pb-3 
  dark:text-darkPrimary;
}

.card-button {
  @apply inline-block mt-5 mb-2 py-2 rounded-xl italic text-secondary underline underline-offset-[10px]
   hover:text-primary transition duration-300 ease-in-out
   dark:text-darkSecondary dark:hover:text-darkPrimary;
}

/* ------------------------- Specific ------------------------- */

/* ----- Dark Mode toggle ----- */
.dark-toggle-animate {
  @apply bg-slate-300;
}
.dark-toggle-animate > .circle-toggle {
  @apply translate-x-5 bg-primary;
}

/* ----- Nav-fixed ----- */
.nav-fixed {
  @apply fixed py-2 lg:py-1 bg-white/[0.7] backdrop-blur-[5px] shadow-sm shadow-slate-50
  dark:bg-bgDarkPrimary dark:shadow-slate-950;
}

/* ----- Hamburger ----- */
.hamburger-line {
  @apply block w-[25px] h-[1px] my-[6px] rounded-full bg-primary transition duration-500
  dark:bg-darkSecondary;
}
/* transisi dan origin (sumbu) ga bisa langsung di sini, transisi outnya jadi berantakan karna class .hamburger-activenya langsung hilang (penambahan classnya via toggle JS) */
.hamburger-active > span:nth-child(1) {
  @apply -rotate-45 mb-[9px];
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply rotate-45;
}

/* ----- Skills ----- */
.skill-container {
  @apply w-full p-4 max-w-[450px] xl:w-1/3;
}

.skill-card {
  @apply w-full py-14 px-10 text-center rounded-xl shadow-sm bg-bgPrimary dark:bg-bgDarkPrimary dark:shadow-black transition-all duration-500
  h-[320px];
}

/* ----- Project ----- */

.project-detail {
  @apply mt-6 mb-7 px-7 h-[275px] overflow-auto text-sm
  sm:h-[250px];
}

.project-detail::-webkit-scrollbar {
  @apply w-[4px];
}

.project-detail::-webkit-scrollbar-thumb {
  @apply bg-primaryIconColor/60 hover:bg-slate-400 mt-52 rounded-full
  dark:bg-slate-800 dark:hover:bg-slate-700;
}

.project-detail > p {
  @apply text-base text-secondary dark:text-darkSecondary;
}

.project-detail > ul > li {
  @apply list-disc list-outside marker:text-primaryIconColor dark:marker:text-darkSecondary text-secondary dark:text-darkSecondary ml-7 pl-2;
}

/* ----- Education ----- */
#education li {
  @apply mb-3 lowercase grayscale hover:grayscale-0 hover:text-black transition-all cursor-default dark:text-slate-700 dark:hover:text-darkPrimary;
}

#education li > img {
  @apply inline-block w-8 pr-3;
}

.dot-line {
  @apply before:content-[''] before:absolute before:-ml-[37px] before:mt-[5px] before:w-4 before:h-4 before:bg-[#f1f1f1] before:rounded-full dark:before:bg-darkPrimary transition-all duration-500;
}

/* ----- Contact ----- */
.contact-input {
  @apply w-full p-3 bg-white drop-shadow-mdCustom dark:drop-shadow-none text-secondary dark:text-darkSecondary rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-200  transition-all duration-500
  dark:border-black dark:bg-slate-800 dark:focus:ring-1 dark:focus:ring-slate-700;
}

/* ----- Footer ----- */
.footer-title {
  @apply relative inline-block pl-[40px] text-[0.9rem] text-secondary uppercase tracking-titleSpacing
  dark:text-darkPrimary;
}
.footer-title:before {
  @apply sm:content-[""] absolute left-0 top-[15px] w-[30px] h-[1px] bg-[#d1d5db];
}